doctype html
head
    meta(charset="UTF-8")
    title("Semantic Poster Search")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    // Vendor styles
    link(rel="stylesheet" href="public/styles/bootstrap_superhero_theme/superhero_theme.css")
    link(rel="stylesheet" href="public/styles/style.css")

    // Vendor scripts
    script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

    script(src="public/scripts/functions.js")

body
    .container
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="#") Semantic Poster Search

                .collapse.navbar-collapse#bs-example-navbar-collapse-1
                    ul.nav.navbar-nav
                        li.active
                            a(href="#") About

        main
            .jumbotron
                h1 Semantic Poster Search
                p This page lets you search for your favourite movies. When a search is found, it returns movie posters for that particular movie, as well as movie and director data from <a href="http://wiki.dbpedia.org/">DBpedia</a>.

            h2 Go ahead and search for your favourite movie
            form(action="#")
                legend
                .form-group
                    input(type="text" name="nameSearch" id="nameSearch" placeholder="Search for name of movie").form-control
                .form-group
                    button#searchBtn.btn.btn-success.form-control SEARCH


            section.results
                table.multipleHitTable.table.table-striped.hide
                    thead
                        tr
                            th Name
                            th Caption
                            th Year
                    tbody

                .row
                    .col-xs-12.col-sm-8.col-md-8.col-lg-6.col-xl-4.posterData

                    .col-xs-12.col-sm-8.col-md-8.col-lg-6.col-xl-4.posterStats
                        

                .row
                    .col-xs-12.col-sm-8.col-md-8.col-lg-6.col-xl-4.posters


